/*General Styles*/
body {
  background-color: #C5E0DC;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

a {
  font-size: 2em;
}

h1 {
  color: #E08E79;
  font-family: 'Handlee', cursive;
  font-size: 3.5em;
}

img {
  border: solid 5px #E08E79;
  padding: 5px;
}

p {
  color: #E08E79;
  font-size: 2em;
}

strong {
  font-size: 1.3
}

ul {
  list-style: none;
  margin-left:0;
  padding-left: 0;
}

.centered {
  display: block;
  margin: auto;
}

/*Results Styles*/
.results a {
  color: #E08E79;
}

.results-div {
  background-color: #ECE5CE;
  border: solid 5px #E08E79;
  border-radius: 5px;
  margin: 10px 20%;
}

.results-div li {
  color: #E08E79;
  font-size: 1.5em;
  margin-left: 5px;
}

/*Jumbotron Styles*/
.jumbotron {
  background-color: #ECE5CE;
}

.jumbotron h1{
  color: #E08E79;
  font-family: 'Handlee', cursive;
  font-size: 4em;
}
